topnav.css

/* Custom styles for the top navigation bar */
.navbar {
    background-color: #ffffff; /* Set background color */
}

.navbar-brand {
    color: #17a2b8; /* Set brand text color */
}

.nav-link {
    color: #343a40; /* Set link text color */
}

.nav-link:hover {
    color: #007bff; /* Set link text color on hover */
}

.form-control {
    width: 300px; /* Set search input width */
}

/* Adjust margin-right for the message icon */
.navbar-text .fa-envelope {
    margin-right: 10px;
}

/* Increase the size of the profile picture */
.navbar-text img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Make the image circular */
}
